@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
.root,
.app {
  min-height: 100vh;
  overflow: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: url(/images/neon-bg.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
  animation: blur 10s infinite ease-in-out;
}

@keyframes blur {
  0% {
    backdrop-filter: brightness(.6);
  }

  50% {
    backdrop-filter: brightness(.6) blur(5px);
  }

  100% {
    backdrop-filter: brightness(.6);
  }

}