@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
.root,
.app {
  min-height: 100vh;
  overflow: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: rgba(0, 0, 0, .4) url(./assets/img/neon-bg.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
}
